.material-design-icon.mdi-large {
  height: 30px;
  width: 30px;
}

.material-design-icon.mdi-large > .material-design-icon__svg {
  height: 30px;
  width: 30px;
}

.material-design-icon.mdi-medium {
  height: 20px;
  width: 20px;
}

.material-design-icon.mdi-medium > .material-design-icon__svg {
  height: 20px;
  width: 20px;
}

.material-design-icon.mdi-small {
  height: 16px;
  width: 16px;
}

.material-design-icon.mdi-small > .material-design-icon__svg {
  height: 16px;
  width: 16px;
}

.material-design-icon.mdi-xsmall {
  height: 14px;
  width: 14px;
}

.material-design-icon.mdi-xsmall > .material-design-icon__svg {
  height: 14px;
  width: 14px;
}
